# {{ ansible_managed }}
logging:
  receivers:
    {{ monitoring_agent_log_id }}:
      type: files
      include_paths:
        - {{ monitoring_agent_container_logs }}
  processors:
    container_json:
      type: parse_json
  service:
    pipelines:
      {{ monitoring_agent_log_id }}:
        receivers:
          - {{ monitoring_agent_log_id }}
        processors:
          - container_json
