# SPDX-License-Identifier: GPL-2.0-or-later
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ cluster_platform_charts.argo_cd.namespace }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: internal-only
  namespace: {{ cluster_platform_charts.argo_cd.namespace }}
spec:
  ipAllowList:
    sourceRange: {{ cluster_platform_private_ranges | to_json }}
